body {
  font-size: 8pt;
  margin: 25px;
  font-size: 15px;
  font-family: sans-serif;
}
.header {
  text-align: center;
  
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}
.gradSpan {
  float: right;
  font-style: normal;
}
h4 {
  margin-top: 10px;
  margin-bottom: 5px;

}
p {
  margin: 1px;
}
.ed {
  margin-bottom: 5px;
}
.educationHeader {
  margin-top: 25px;
}
ul {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.position {
  font-style: italic;
}
